
.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
}

p{
    font-weight: 600;
}

.dataOutput{
    font-weight:normal;
    margin-left: .25rem;
}

h2{
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
}


.mainContainerLight{
    height: 100vh;
   /*width: 100%;*/
    display: flex;
    /*flex-direction: column;*/
    /*border: 1px solid orange;*/
    background: #F2F2F2;
}

.mainContainerDark{
    height: 100vh;
    /*width: 100%;*/
    display: flex;
    /*flex-direction: column;*/
    background: var(--dark-blue);
    color: white;
}


.backButtonAndImageWrapper {
    display: flex;
    flex-direction: column; /* stack the back button above the image */
    align-items: flex-start; /* align to the start */
    justify-content: center; /* vertically center */
    flex: 1; /* take up half the space */
}

.cardDetailWrapper{
    flex: 1; /* take up half the space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center the contents */
    /*border: 1px solid blue;*/
}

.cardDetailBody{
    /*border: 1px solid red;*/
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
   gap: 2rem;

}

.gridFlow{
    display: grid;
    gap: .15rem;
}

.mainText{
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}

.rightMainText{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction:column;
    gap: .5rem;

}

.leftMainText{
    display: flex;
    flex-direction:column;
    gap: .5rem;
}



.navLink,.navLink:link, .navLink:visited{
    color: inherit; /* or any desired color */
    text-decoration: none;
    padding: .25rem 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);

}

.navLinkWrapper{
    margin-bottom: 4rem;
}

.bottomText{
    margin-top: 4rem;
}

.listBorderCountries{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.listBorderCountiesTitle{
    font-weight: 600;
    margin-right: 1em;
}

.list{
    display: flex;
    flex-wrap:wrap;

}

.listItem{
    box-shadow: 0 0 5px var(--dark-gray);
    text-align: center;
    min-width: 7em;
    margin:0.5em;
    padding: 0.25em;
    border-radius: 5px;
}

.bordersItem{
    /*border: 1px solid blue;*/
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: .1rem;
    margin: 0 .18rem;
    font-weight: normal;
}

.imgWrapper img{
    display: block;
    max-width: 100%;
    height: auto;
}


@media (max-width: 599px) {
    .mainContainerLight{
        display: flex;
        flex-direction: column;
    }



    .mainContainerDark{
        display: flex;
        flex-direction: column;
    }

  .back{
      margin-left: .5rem;
  }
    p{
        font-weight: 600;
    }

    h2{
        justify-content: start;
    }


    .cardDetailBody{
        /*border: 1px solid red;*/
        margin-top: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .mainText{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .dataOutput{
        margin-left: 0.25rem;
        font-weight: 400;
    }

    .rightMainText{
        margin-top: 1.5rem;
    }
    .listBorderCountries{
        padding: 0;
    }

    .list{
        display: flex;
    };

    .imgWrapper img{
        display: block;
        max-width: 100%;
        /*height: auto;*/
    }
}
