.searchFilter{
    /*border: 2px solid green;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 4rem ;
}

.homePageWrapperLight{
    background:#F2F2F2;
}
.homePageWrapperDark{
    background: var(--dark-blue);
}



main{
    padding: 2rem 4rem ;
    /*border: 2px solid red;*/
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-around;
}

.navLink,.navLink:link, .navLink:visited{
    color: inherit; /* or any desired color */
    text-decoration: none;
}


@media (max-width: 599px){
    .searchFilter{
        padding: 1rem 1rem ;
    }

    /*main{*/
    /*    padding: 0rem;*/
    /*}*/
}
