.header{
    display: flex;
    background: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}

.darkHeader{
    background: var(--very-dark-blue-darkmode);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerRight{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    background:none;
    cursor: pointer;
}

.leftText{
    font-weight: 800;
}

.rightText{
    font-weight: 300;

}

.whiteText{
    color: white
}


@media (max-width:599px) {

    .header{
        padding:1rem 1.5rem;
    }

    .darkHeader{
        padding:1rem 1.5rem;
    }

}
