.header{
    display: flex;
    background: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerRight{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.leftText{
    font-weight: 800;
}

.rightText{
    font-weight: 300;
}
