@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root{
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-darkmode: hsl(207, 26%, 17%);
  --very-dark-blue-lightmode: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: #F2F2F2;
  --white: hsl(0, 0%, 100%);

  /* light mode */
  --background-light: var(--very-light-gray);
  --text-color-light: var(--very-dark-blue-lightmode);

  /* dark mode */
  --background-dark: var(--dark-blue);
  --text-color-dark: var(--white);

  /* default values */
  --current-background-color: var(--background-light);
  --current-text-color: var(--text-color-light);

  --font-family-nunito:'Nunito Sans',sans-serif;
  --fs-homepage:0.9rem;
  --fs-detailpage:1rem;
}

body{
  font-family: var(--font-family-nunito);
  font-size: var(--fs-homepage);
  height: 100vh;
}


p{
  font-weight: lighter;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}




